<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>.:: JoinFaces Example ::.</title>
	<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
	<!--         <link href="#{resource['images/favicon.ico']}" rel="shortcut icon"/> -->
	<!--         <h:outputStylesheet library="css" name="starter.css" /> -->
	<!--         <h:outputScript library="js" name="starter.js" /> -->
</h:head>

<h:body>
<!-- 	<f:metadata> -->
<!-- 		<f:viewAction action="#{indexBean.onload()}" /> -->
<!-- 	</f:metadata> -->
	<p:growl id="growl" life="2000" />
	<pe:layout fullPage="true">
		<pe:layoutPane position="center">
			<h:form id="contentForm" prependId="false"
				enctype="multipart/form-data">
				<p:ajaxStatus onstart="PF('statusDialog').show();"
					onsuccess="PF('statusDialog').hide();" />
				<p:dialog widgetVar="statusDialog" position="right top"
					draggable="false" resizable="false" closable="false"
					showHeader="false" modal="false">
					<center>
						<p:graphicImage value="#{resource['images/ajaxloading.gif']}" />
					</center>
				</p:dialog>
				<div id="starterDiv" class="ui-fluid">
					<center>
						<p:menubar>
							<p:menuitem value="Starter" url="/starter.jsf" />
							<p:menuitem value="File Upload" url="fileUpload.jsf" />
							<p:menuitem value="Custom Input" url="customInput.jsf" />
							<p:menuitem value="My Tag" url="helloTag.jsf" />
							<p:menuitem value="Hi CC" url="hiCC.jsf" />
							<p:menuitem value="Welcome Converter" url="welcomeConverter.jsf" />
						</p:menubar>

						<p:spacer height="10" />

						<ui:insert name="content" />
					</center>
				</div>
			</h:form>
			<h:form id="upload" enctype="multipart/form-data">
				<h:inputFile>${upload.file}</h:inputFile>
				<p:commandButton value="Upload" id="uploadButton" update="growl" action="#{buttonView.buttonAction}" />
			</h:form>
			<p:panel>
				<p:outputLabel style="margin-left:1em">MU: ${eigenschaftenView.mut}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">KL: ${eigenschaftenView.klugheit}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">IN: ${eigenschaftenView.intuition}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">CH: ${eigenschaftenView.charisma}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">FF: ${eigenschaftenView.fingerfertigkeit}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">GE: ${eigenschaftenView.gewandtheit}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">KO: ${eigenschaftenView.konstitution}</p:outputLabel>
				<p:outputLabel style="margin-left:1em">KK: ${eigenschaftenView.koerperkraft}</p:outputLabel>
			</p:panel>
		</pe:layoutPane>
	</pe:layout>
</h:body>
</html>