<body>
	<h1 class="heldenname">Bastarod iban Gilbad ban Khalil</h1>
	<table class="personendaten">
		<tr>
			<th class="titel" colspan="1">Personendaten</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="heldendaten">
						<tr>
							<td class="name">Rasse</td>
							<td class="eintrag">Tulamide</td>
						</tr>
						<tr>
							<td class="name">Kultur</td>
							<td class="eintrag">Ferkina</td>
						</tr>
						<tr>
							<td class="name">Profession</td>
							<td class="eintrag">H&auml;ndler: Fahrender H&auml;ndler,
								Botenreiter: Botenreiter</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende personendaten -->
	<table class="beschreibung">
		<tr>
			<th class="titel" colspan="2">Beschreibung</th>
		</tr>
		<tr>
			<td class="links">
				<div class="links_innen">
					<table class="persoenliches">
						<tr>
							<td class="name">Geschlecht</td>
							<td class="eintrag">m&auml;nnlich</td>
						</tr>
						<tr>
							<td class="name">Geburtstag</td>
							<td class="eintrag">2. Efferd 1003 BF</td>
						</tr>
						<tr>
							<td class="name">Gr&ouml;&szlig;e</td>
							<td class="eintrag">173 Halbfinger</td>
						</tr>
						<tr>
							<td class="name">Gewicht</td>
							<td class="eintrag">68 Stein</td>
						</tr>
						<tr>
							<td class="name">Haarfarbe</td>
							<td class="eintrag">mittelbraun</td>
						</tr>
						<tr>
							<td class="name">Augenfarbe</td>
							<td class="eintrag">dunkelbraun</td>
						</tr>
						<tr>
							<td class="name">Aussehen</td>
							<td class="eintrag">rotes Kopftuch Brusttuch Lederhose
								Lederschuhe</td>
						</tr>
					</table>
				</div> <!-- ende links_innen -->
			</td>
			<!-- ende links -->
			<td class="rechts">
				<div class="rechts_innen">
					<table class="umfeld">
						<tr>
							<td class="name">Stand</td>
							<td class="eintrag">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Titel</td>
							<td class="eintrag">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Sozialstatus</td>
							<td class="eintrag">5</td>
						</tr>
						<tr>
							<td class="name">Familie/ Herkunft/ Hintergrund</td>
							<td class="eintrag">Gilbad Khalil</td>
						</tr>
					</table>
				</div> <!-- ende rechts_innen -->
			</td>
			<!-- ende rechts -->
		</tr>
	</table>
	<!-- ende beschreibung -->
	<table class="eigenschaftenBasiswerte">
		<tr>
			<th class="titel" colspan="2">Eigenschaften und Basiswerte</th>
		</tr>
		<tr>
			<td class="links">
				<div class="links_innen">
					<table class="eigenschaften gitternetz">
						<tr>
							<th class="name">Eigenschaft</th>
							<th class="modifikator">Mod.</th>
							<th class="start">Start</th>
							<th class="aktuell">Aktuell</th>
						</tr>
						<tr>
							<td class="name">Mut</td>
							<td class="modifikator">2</td>
							<td class="start">10</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Klugheit</td>
							<td class="modifikator">-1</td>
							<td class="start">13</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Intuition</td>
							<td class="modifikator">0</td>
							<td class="start">12</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Charisma</td>
							<td class="modifikator">0</td>
							<td class="start">12</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Fingerfertigkeit</td>
							<td class="modifikator">0</td>
							<td class="start">12</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Gewandtheit</td>
							<td class="modifikator">0</td>
							<td class="start">12</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Konstitution</td>
							<td class="modifikator">1</td>
							<td class="start">12</td>
							<td class="aktuell">13</td>
						</tr>
						<tr>
							<td class="name">K&ouml;rperkraft</td>
							<td class="modifikator">0</td>
							<td class="start">12</td>
							<td class="aktuell">12</td>
						</tr>
						<tr>
							<td class="name">Geschwindigkeit</td>
							<td class="modifikator">&nbsp;</td>
							<td class="start">8</td>
							<td class="aktuell">8</td>
						</tr>
					</table>
				</div> <!-- ende links_innen -->
			</td>
			<!-- ende links -->
			<td class="rechts">
				<div class="rechts_innen">
					<table class="basiswerte gitternetz">
						<tr>
							<th class="name">Basiswerte</th>
							<th class="formel">Formel</th>
							<th class="modifikator">Mod.</th>
							<th class="start">Start</th>
							<th class="aktuell">Aktuell</th>
							<th class="zugekauft">Gekauft</th>
							<th class="max_zug.">Rest</th>
						</tr>
						<tr>
							<td class="name">Lebensenergie</td>
							<td class="formel">(KO+KO+KK)/2</td>
							<td class="modifikator">11</td>
							<td class="start">19</td>
							<td class="aktuell">33</td>
							<td class="zugekauft">3</td>
							<td class="max_zug.">4</td>
						</tr>
						<tr>
							<td class="name">Ausdauer</td>
							<td class="formel">(MU+KO+GE)/2</td>
							<td class="modifikator">16</td>
							<td class="start">19</td>
							<td class="aktuell">35</td>
							<td class="zugekauft">0</td>
							<td class="max_zug.">13</td>
						</tr>
						<tr>
							<td class="name">Astralenergie</td>
							<td class="formel">&nbsp;</td>
							<td class="modifikator">&nbsp;</td>
							<td class="start">&nbsp;</td>
							<td class="aktuell">&nbsp;</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Karmaenergie</td>
							<td class="formel">&nbsp;</td>
							<td class="modifikator">&nbsp;</td>
							<td class="start">&nbsp;</td>
							<td class="aktuell">&nbsp;</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Magieresistenz</td>
							<td class="formel">(MU+KL+KO)/5</td>
							<td class="modifikator">-6</td>
							<td class="start">7</td>
							<td class="aktuell">1</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Initiative</td>
							<td class="formel">(MU+MU+IN+GE)/5</td>
							<td class="modifikator">0</td>
							<td class="start">10</td>
							<td class="aktuell">10</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Attacke</td>
							<td class="formel">(MU+GE+KK)/5</td>
							<td class="modifikator">0</td>
							<td class="start">7</td>
							<td class="aktuell">7</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Parade</td>
							<td class="formel">(IN+GE+KK)/5</td>
							<td class="modifikator">0</td>
							<td class="start">7</td>
							<td class="aktuell">7</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Fernkampf-Basis</td>
							<td class="formel">(IN+FF+KK)/5</td>
							<td class="modifikator">0</td>
							<td class="start">7</td>
							<td class="aktuell">7</td>
							<td class="zugekauft">&nbsp;</td>
							<td class="max_zug.">&nbsp;</td>
						</tr>
					</table>
				</div> <!-- ende rechts_innen -->
			</td>
			<!-- ende rechts -->
		</tr>
	</table>
	<!-- ende eigenschaftenBasiswerte -->
	<table class="abenteuerpunkte">
		<tr>
			<th class="titel" colspan="1">Abenteuerpunkte</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="ap">
						<tr>
							<th class="apgesamt">AP Gesamt</th>
							<th class="apeingesetzt">AP verf&uuml;gbar</th>
							<th class="apverfuegbar">AP eingesetzt</th>
							<th class="stufe">Stufe</th>
						</tr>
						<tr>
							<td class="apgesamt">3080</td>
							<td class="apeingesetzt">2</td>
							<td class="apverfuegbar">3078</td>
							<td class="stufe">3</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende abenteuerpunkte -->
	<table class="vorNachteile">
		<tr>
			<th class="titel" colspan="1">Vorteile und Nachteile</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="vorteile">
						<tr>
							<th class="name">Vorteile</th>
							<th class="name">Nachteile</th>
						</tr>
						<tr>
							<td class="name">Ausr&uuml;stungsvorteil: 5</td>
							<td class="name">Aberglaube: 6</td>
						</tr>
						<tr>
							<td class="name">Breitgef&auml;cherte Bildung</td>
							<td class="name">Goldgier: 5</td>
						</tr>
						<tr>
							<td class="name">Entfernungssinn</td>
							<td class="name">Meeresangst: 7</td>
						</tr>
						<tr>
							<td class="name">Innerer Kompass</td>
							<td class="name">Neugier: 7</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="name">Rachsucht: 5</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="name">Randgruppe</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende vorNachteile -->
	<table class="sonderfertigkeiten">
		<tr>
			<th class="titel" colspan="1">Sonderfertigkeiten</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="sonderfertigkeiten">
						<tr>
							<td class="name">Aufmerksamkeit</td>
							<td class="name">Kulturkunde (Ferkina)</td>
						</tr>
						<tr>
							<td class="name">Beidh&auml;ndiger Kampf I</td>
							<td class="name">Linkhand</td>
						</tr>
						<tr>
							<td class="name">Doppelangriff</td>
							<td class="name">Nandusgef&auml;lliges Wissen</td>
						</tr>
						<tr>
							<td class="name">Doppelschlag</td>
							<td class="name">Ortskenntnis (Kleinstadt/Stadtteil,
								&Uuml;bliche Strecke)</td>
						</tr>
						<tr>
							<td class="name">Finte</td>
							<td class="name">Reiterkampf</td>
						</tr>
						<tr>
							<td class="name">Formation</td>
							<td class="name">Schnellladen (Bogen)</td>
						</tr>
						<tr>
							<td class="name">Gebirgskundig</td>
							<td class="name">Talentspezialisierung &Uuml;berreden
								(Feilschen)</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende sonderfertigkeiten -->
	<table class="talente">
		<tr>
			<th class="titel" colspan="2">Talente</th>
		</tr>
		<tr>
			<td class="links">
				<div class="links_innen">
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name" colspan="2">Kampftechniken</th>
							<th class="be">BE</th>
							<th class="at">AT</th>
							<th class="pa">PA</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Bogen</td>
							<td class="stk">E</td>
							<td class="be">BE-3</td>
							<td class="at">16</td>
							<td class="pa">0</td>
							<td class="taw">9</td>
						</tr>
						<tr>
							<td class="name">Dolche</td>
							<td class="stk">D</td>
							<td class="be">BE-1</td>
							<td class="at">9</td>
							<td class="pa">9</td>
							<td class="taw">4</td>
						</tr>
						<tr>
							<td class="name">Hiebwaffen</td>
							<td class="stk">D</td>
							<td class="be">BE-4</td>
							<td class="at">13</td>
							<td class="pa">13</td>
							<td class="taw">12</td>
						</tr>
						<tr>
							<td class="name">Peitsche</td>
							<td class="stk">E</td>
							<td class="be">BE-1</td>
							<td class="at">9</td>
							<td class="pa">0</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Raufen</td>
							<td class="stk">C</td>
							<td class="be">BE</td>
							<td class="at">9</td>
							<td class="pa">8</td>
							<td class="taw">3</td>
						</tr>
						<tr>
							<td class="name">Ringen</td>
							<td class="stk">D</td>
							<td class="be">BE</td>
							<td class="at">9</td>
							<td class="pa">9</td>
							<td class="taw">4</td>
						</tr>
						<tr>
							<td class="name">S&auml;bel</td>
							<td class="stk">D</td>
							<td class="be">BE-2</td>
							<td class="at">7</td>
							<td class="pa">7</td>
							<td class="taw">0</td>
						</tr>
						<tr>
							<td class="name">Wurfmesser</td>
							<td class="stk">C</td>
							<td class="be">BE-3</td>
							<td class="at">7</td>
							<td class="pa">0</td>
							<td class="taw">0</td>
						</tr>
					</table>
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name" colspan="3">K&ouml;rperliche Talente (D)</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Athletik</td>
							<td class="probe">(GE/KO/KK)</td>
							<td class="be">BEx2</td>
							<td class="taw">7</td>
						</tr>
						<tr>
							<td class="name">Klettern</td>
							<td class="probe">(MU/GE/KK)</td>
							<td class="be">BEx2</td>
							<td class="taw">7</td>
						</tr>
						<tr>
							<td class="name">K&ouml;rperbeherrschung</td>
							<td class="probe">(MU/IN/GE)</td>
							<td class="be">BEx2</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Reiten</td>
							<td class="probe">(CH/GE/KK)</td>
							<td class="be">BE-2</td>
							<td class="taw">7</td>
						</tr>
						<tr>
							<td class="name">Schleichen</td>
							<td class="probe">(MU/IN/GE)</td>
							<td class="be">BE</td>
							<td class="taw">4</td>
						</tr>
						<tr>
							<td class="name">Schwimmen</td>
							<td class="probe">(GE/KO/KK)</td>
							<td class="be">BEx2</td>
							<td class="taw">0</td>
						</tr>
						<tr>
							<td class="name">Selbstbeherrschung</td>
							<td class="probe">(MU/KO/KK)</td>
							<td class="be">&nbsp;</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Sich verstecken</td>
							<td class="probe">(MU/IN/GE)</td>
							<td class="be">BE-2</td>
							<td class="taw">3</td>
						</tr>
						<tr>
							<td class="name">Singen</td>
							<td class="probe">(IN/CH/CH)</td>
							<td class="be">BE-3</td>
							<td class="taw">1</td>
						</tr>
						<tr>
							<td class="name">Sinnensch&auml;rfe</td>
							<td class="probe">(KL/IN/IN)</td>
							<td class="be">0-&gt;BE</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Tanzen</td>
							<td class="probe">(CH/GE/GE)</td>
							<td class="be">BEx2</td>
							<td class="taw">0</td>
						</tr>
						<tr>
							<td class="name">Zechen</td>
							<td class="probe">(IN/KO/KK)</td>
							<td class="be">&nbsp;</td>
							<td class="taw">0</td>
						</tr>
					</table>
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name" colspan="2">Gesellschaftliche Talente (B)</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Bet&ouml;ren</td>
							<td class="probe">(IN/CH/CH)</td>
							<td class="taw">1</td>
						</tr>
						<tr>
							<td class="name">Etikette</td>
							<td class="probe">(KL/IN/CH)</td>
							<td class="taw">5</td>
						</tr>
						<tr>
							<td class="name">Gassenwissen</td>
							<td class="probe">(KL/IN/CH)</td>
							<td class="taw">3</td>
						</tr>
						<tr>
							<td class="name">Menschenkenntnis</td>
							<td class="probe">(KL/IN/CH)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">&Uuml;berreden</td>
							<td class="probe">(MU/IN/CH)</td>
							<td class="taw">8</td>
						</tr>
					</table>
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name" colspan="2">Natur-Talente (B)</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">F&auml;hrtensuchen</td>
							<td class="probe">(KL/IN/KO)</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Fallen stellen</td>
							<td class="probe">(KL/FF/KK)</td>
							<td class="taw">1</td>
						</tr>
						<tr>
							<td class="name">Orientierung</td>
							<td class="probe">(KL/IN/IN)</td>
							<td class="taw">7</td>
						</tr>
						<tr>
							<td class="name">Wettervorhersage</td>
							<td class="probe">(KL/IN/IN)</td>
							<td class="taw">4</td>
						</tr>
						<tr>
							<td class="name">Wildnisleben</td>
							<td class="probe">(IN/GE/KO)</td>
							<td class="taw">6</td>
						</tr>
					</table>
				</div> <!-- ende links_innen -->
			</td>
			<!-- ende links -->
			<td class="rechts">
				<div class="rechts_innen">
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name" colspan="2">Wissenstalente (B)</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Geografie</td>
							<td class="probe">(KL/KL/IN)</td>
							<td class="taw">7</td>
						</tr>
						<tr>
							<td class="name">Gesteinskunde</td>
							<td class="probe">(KL/IN/FF)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">G&ouml;tter und Kulte</td>
							<td class="probe">(KL/KL/IN)</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Pflanzenkunde</td>
							<td class="probe">(KL/IN/FF)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Rechnen</td>
							<td class="probe">(KL/KL/IN)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Rechtskunde</td>
							<td class="probe">(KL/KL/IN)</td>
							<td class="taw">5</td>
						</tr>
						<tr>
							<td class="name">Sagen und Legenden</td>
							<td class="probe">(KL/IN/CH)</td>
							<td class="taw">5</td>
						</tr>
						<tr>
							<td class="name">Sch&auml;tzen</td>
							<td class="probe">(KL/IN/IN)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Sternkunde</td>
							<td class="probe">(KL/KL/IN)</td>
							<td class="taw">4</td>
						</tr>
						<tr>
							<td class="name">Tierkunde</td>
							<td class="probe">(MU/KL/IN)</td>
							<td class="taw">4</td>
						</tr>
					</table>
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name">Sprachen (A)</th>
							<th class="komp">Komp.</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Ferkina</td>
							<td class="komp">16</td>
							<td class="taw">10</td>
						</tr>
						<tr>
							<td class="name">Garethi</td>
							<td class="komp">18</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Tulamidya</td>
							<td class="komp">18</td>
							<td class="taw">8</td>
						</tr>
					</table>
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name">Schriften (A)</th>
							<th class="komp">Komp.</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Tulamidya</td>
							<td class="komp">14</td>
							<td class="taw">5</td>
						</tr>
					</table>
					<table class="talentgruppe gitternetz">
						<tr>
							<th class="name" colspan="2">Handwerkliche Talente (B)</th>
							<th class="taw">TaW</th>
						</tr>
						<tr>
							<td class="name">Fahrzeug lenken</td>
							<td class="probe">(IN/CH/FF)</td>
							<td class="taw">4</td>
						</tr>
						<tr>
							<td class="name">Feuersteinbearbeitung</td>
							<td class="probe">(KL/FF/FF)</td>
							<td class="taw">1</td>
						</tr>
						<tr>
							<td class="name">Fleischer</td>
							<td class="probe">(KL/FF/KK)</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Handel</td>
							<td class="probe">(KL/IN/CH)</td>
							<td class="taw">8</td>
						</tr>
						<tr>
							<td class="name">Hauswirtschaft</td>
							<td class="probe">(IN/CH/FF)</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Heilkunde: Wunden</td>
							<td class="probe">(KL/CH/FF)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Holzbearbeitung</td>
							<td class="probe">(KL/FF/KK)</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Kochen</td>
							<td class="probe">(KL/IN/FF)</td>
							<td class="taw">5</td>
						</tr>
						<tr>
							<td class="name">Lederarbeiten</td>
							<td class="probe">(KL/FF/FF)</td>
							<td class="taw">2</td>
						</tr>
						<tr>
							<td class="name">Malen/Zeichnen</td>
							<td class="probe">(KL/IN/FF)</td>
							<td class="taw">6</td>
						</tr>
						<tr>
							<td class="name">Schneidern</td>
							<td class="probe">(KL/FF/FF)</td>
							<td class="taw">0</td>
						</tr>
						<tr>
							<td class="name">Viehzucht</td>
							<td class="probe">(KL/IN/KK)</td>
							<td class="taw">2</td>
						</tr>
					</table>
				</div> <!-- ende rechts_innen -->
			</td>
			<!-- ende rechts -->
		</tr>
	</table>
	<!-- ende talente -->
	<table class="nkwaffen">
		<tr>
			<th class="titel" colspan="1">Nahkampfwaffen</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="nkwaffen gitternetz">
						<tr>
							<th class="name">Nahkampfwaffe</th>
							<th class="typbe">Typ/BE</th>
							<th class="dk">DK</th>
							<th class="tp">TP</th>
							<th class="tpkk">TP/KK</th>
							<th class="ini">Ini</th>
							<th class="wm">WM</th>
							<th class="at">AT</th>
							<th class="pa">PA</th>
							<th class="efftp">effTP</th>
							<th class="minbf">min BF</th>
							<th class="aktbf">akt BF</th>
						</tr>
						<tr>
							<td class="name">Streitaxt</td>
							<td class="typbe">Hi / BE-4</td>
							<td class="dk">N</td>
							<td class="tp">1W+4</td>
							<td class="tpkk">13 / 2</td>
							<td class="ini">0</td>
							<td class="wm">0 /-1</td>
							<td class="at">13</td>
							<td class="pa">12</td>
							<td class="efftp">1W+4</td>
							<td class="minbf">2</td>
							<td class="aktbf">2</td>
						</tr>
						<tr>
							<td class="name">Streitaxt</td>
							<td class="typbe">Hi / BE-4</td>
							<td class="dk">N</td>
							<td class="tp">1W+4</td>
							<td class="tpkk">13 / 2</td>
							<td class="ini">0</td>
							<td class="wm">0 /-1</td>
							<td class="at">10</td>
							<td class="pa">9</td>
							<td class="efftp">1W+4</td>
							<td class="minbf">2</td>
							<td class="aktbf">2</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="typbe">&nbsp;</td>
							<td class="dk">&nbsp;</td>
							<td class="tp">&nbsp;</td>
							<td class="tpkk">&nbsp;</td>
							<td class="ini">&nbsp;</td>
							<td class="wm">&nbsp;</td>
							<td class="at">&nbsp;</td>
							<td class="pa">&nbsp;</td>
							<td class="efftp">&nbsp;</td>
							<td class="minbf">&nbsp;</td>
							<td class="aktbf">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="typbe">&nbsp;</td>
							<td class="dk">&nbsp;</td>
							<td class="tp">&nbsp;</td>
							<td class="tpkk">&nbsp;</td>
							<td class="ini">&nbsp;</td>
							<td class="wm">&nbsp;</td>
							<td class="at">&nbsp;</td>
							<td class="pa">&nbsp;</td>
							<td class="efftp">&nbsp;</td>
							<td class="minbf">&nbsp;</td>
							<td class="aktbf">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="typbe">&nbsp;</td>
							<td class="dk">&nbsp;</td>
							<td class="tp">&nbsp;</td>
							<td class="tpkk">&nbsp;</td>
							<td class="ini">&nbsp;</td>
							<td class="wm">&nbsp;</td>
							<td class="at">&nbsp;</td>
							<td class="pa">&nbsp;</td>
							<td class="efftp">&nbsp;</td>
							<td class="minbf">&nbsp;</td>
							<td class="aktbf">&nbsp;</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende nkwaffen -->
	<table class="fkwaffen">
		<tr>
			<th class="titel" colspan="1">Fernkampfwaffen</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="fkwaffen gitternetz">
						<tr>
							<th class="name">Name</th>
							<th class="typbe">Typ/Be</th>
							<th class="tp">TP</th>
							<th class="entfernung">Entfernung</th>
							<th class="tpentfernung">TP/Entfernung</th>
							<th class="fk">FK</th>
							<th class="anzgeschosse">Anzahl Geschosse</th>
						</tr>
						<tr>
							<td class="name">Kurzbogen</td>
							<td class="typbe">Bo / BE-3</td>
							<td class="tp">1W+4</td>
							<td class="entfernung">5 / 15 / 25 / 40 / 60</td>
							<td class="tpentfernung">1 / 1 / 0 / 0 / -1</td>
							<td class="fk">16</td>
							<td class="anzgeschosse">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="typbe">&nbsp;</td>
							<td class="tp">&nbsp;</td>
							<td class="entfernung">&nbsp;</td>
							<td class="tpentfernung">&nbsp;</td>
							<td class="fk">&nbsp;</td>
							<td class="anzgeschosse">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">&nbsp;</td>
							<td class="typbe">&nbsp;</td>
							<td class="tp">&nbsp;</td>
							<td class="entfernung">&nbsp;</td>
							<td class="tpentfernung">&nbsp;</td>
							<td class="fk">&nbsp;</td>
							<td class="anzgeschosse">&nbsp;</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende fkwaffen -->
	<table class="inventar">
		<tr>
			<th class="titel" colspan="1">Inventar</th>
		</tr>
		<tr>
			<td class="mitte">
				<div class="mitte_innen">
					<table class="inventar gitternetz">
						<tr>
							<th class="name">Gegenstand</th>
							<th class="anzahl">Anzahl</th>
							<th class="gewicht">Gewicht</th>
							<th class="name">Gegenstand</th>
							<th class="anzahl">Anzahl</th>
							<th class="gewicht">Gewicht</th>
						</tr>
						<tr>
							<td class="name">Brusttuch</td>
							<td class="anzahl">1</td>
							<td class="gewicht">8.0</td>
							<td class="name">Kurzbogen</td>
							<td class="anzahl">1</td>
							<td class="gewicht">20.0</td>
						</tr>
						<tr>
							<td class="name">Dolch</td>
							<td class="anzahl">1</td>
							<td class="gewicht">20.0</td>
							<td class="name">K&ouml;cher, Leder (20 Pfeile)</td>
							<td class="anzahl">1</td>
							<td class="gewicht">30.0</td>
						</tr>
						<tr>
							<td class="name">Einfaches Trinkhorn</td>
							<td class="anzahl">1</td>
							<td class="gewicht">15.0</td>
							<td class="name">Lampen&ouml;l</td>
							<td class="anzahl">1</td>
							<td class="gewicht">10.0</td>
						</tr>
						<tr>
							<td class="name">Eisenpfanne (1,5 Spann)</td>
							<td class="anzahl">1</td>
							<td class="gewicht">80.0</td>
							<td class="name">Lederg&uuml;rtel</td>
							<td class="anzahl">1</td>
							<td class="gewicht">8.0</td>
						</tr>
						<tr>
							<td class="name">Fellgef&uuml;tterter Schlafsack</td>
							<td class="anzahl">1</td>
							<td class="gewicht">80.0</td>
							<td class="name">Lederschuhe</td>
							<td class="anzahl">1</td>
							<td class="gewicht">40.0</td>
						</tr>
						<tr>
							<td class="name">Futterbeutel</td>
							<td class="anzahl">1</td>
							<td class="gewicht">10.0</td>
							<td class="name">Packsattel, klein</td>
							<td class="anzahl">1</td>
							<td class="gewicht">600.0</td>
						</tr>
						<tr>
							<td class="name">F&uuml;hrhalfter mit Strick</td>
							<td class="anzahl">1</td>
							<td class="gewicht">60.0</td>
							<td class="name">Pfeil</td>
							<td class="anzahl">6</td>
							<td class="gewicht">3.0</td>
						</tr>
						<tr>
							<td class="name">Geldbeutel, Leder</td>
							<td class="anzahl">1</td>
							<td class="gewicht">1.0</td>
							<td class="name">Pony: Ferkina-Pony</td>
							<td class="anzahl">1</td>
							<td class="gewicht">12000.0</td>
						</tr>
						<tr>
							<td class="name">Holzl&ouml;ffel, einfach</td>
							<td class="anzahl">1</td>
							<td class="gewicht">3.0</td>
							<td class="name">Ring</td>
							<td class="anzahl">3</td>
							<td class="gewicht">1.0</td>
						</tr>
						<tr>
							<td class="name">Holzteller, einfach</td>
							<td class="anzahl">1</td>
							<td class="gewicht">4.0</td>
							<td class="name">Salz</td>
							<td class="anzahl">3</td>
							<td class="gewicht">1.0</td>
						</tr>
						<tr>
							<td class="name">Hose</td>
							<td class="anzahl">1</td>
							<td class="gewicht">30.0</td>
							<td class="name">Streitaxt</td>
							<td class="anzahl">2</td>
							<td class="gewicht">120.0</td>
						</tr>
						<tr>
							<td class="name">Kastenwagen, Einsp&auml;nner</td>
							<td class="anzahl">1</td>
							<td class="gewicht">30000.0</td>
							<td class="name">Sturmlaterne, &Ouml;l</td>
							<td class="anzahl">1</td>
							<td class="gewicht">30.0</td>
						</tr>
						<tr>
							<td class="name">Kopftuch, Leinen</td>
							<td class="anzahl">1</td>
							<td class="gewicht">3.0</td>
							<td class="name">Z&uuml;gel und Zaumzeug</td>
							<td class="anzahl">1</td>
							<td class="gewicht">80.0</td>
						</tr>
					</table>
				</div> <!-- ende mitte_innen -->
			</td>
			<!-- ende mitte -->
		</tr>
	</table>
	<!-- ende inventar -->
</body>